name: Pre Workflow
on:
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: '24.11.1'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ysk8hori'

      - name: Install Dependencies
        run: npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Type Check
        run: npm run type-check

      - name: Test
        run: npm run test:run
